@{
    ViewData["Title"] = "Home Page";
}


<div class="text-left">
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <form id="CalcTaxFormId" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="CalculateTax">
            <div class="mb-3">
                <label for="txtPostalCode" class="form-label">Postal Code</label>
                <input type="text" class="form-control" id="txtPostalCode" name="PostalCode" required maxlength="4">
            </div>
            <div class="mb-3">
                <label for="txtAnnualIncome" class="form-label">Annual Income</label>
                <input type="number" step="0.01" min="1" class="form-control" id="txtAnnualIncome" name="AnnualIncome" required maxlength="10">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

            <hr />

            @ViewBag.PostalCode <br />
            @ViewBag.AnnualIncome <br />
            @ViewBag.Status <br />
            @ViewBag.Message <br />
            @ViewBag.TaxValue <br />
            @ViewBag.CalcType <br />
            @ViewBag.TotalAfterTax <br />
            @ViewBag.TotalTaxPercentage <br />
        </form>
    </body>
</html>
</div>
