@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="CalculateTax">
            <table>
                <tr>
                    <td>Postal Code: </td>
                    <td><input type="text" id="txtPostalCode" name="PostalCode" /></td>
                </tr>
                <tr>
                    <td>Annual Income: </td>
                    <td><input type="text" id="txtAnnualIncome" name="AnnualIncome" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />

            @ViewBag.PostalCode <br />
            @ViewBag.AnnualIncome <br />
            @ViewBag.Status <br />
            @ViewBag.Message <br />
            @ViewBag.TaxValue <br />
            @ViewBag.CalcType <br />
        </form>
    </body>
</html>
</div>
